# VeriWipe Bare-Metal Live USB Bootloader Configuration
# SIH 2026 Problem Statement ID: 26149 (NTRO) - Cybersecurity & Blockchain

set default="0"
set timeout=15

insmod efi_gop
insmod font
insmod play

play 960 440 1 0 1 440 1

set color_normal=light-gray/black
set color_highlight=black/cyan

menuentry "1. VeriWipe Autonomous One-Shot Eraser (NIST 800-88 Purge All Internal Disks)" --class gnu-linux --class os {
    linux /live/vmlinuz boot=live components quiet splash veriwipe.autonuke=1 veriwipe.records=/dev/disk/by-label/VERIWIPE_AUDIT
    initrd /live/initrd.img
}

menuentry "2. VeriWipe Interactive Live Kiosk (Full Web GUI + TUI)" --class gnu-linux --class os {
    linux /live/vmlinuz boot=live components quiet splash veriwipe.gui=1
    initrd /live/initrd.img
}

menuentry "3. VeriWipe Forensic Read-Only Acquisition Mode (Write-Blocked)" --class gnu-linux --class os {
    linux /live/vmlinuz boot=live components ro noexec nosuid veriwipe.forensic_ro=1
    initrd /live/initrd.img
}

menuentry "4. VeriWipe Headless Terminal Console (TTY1 TUI)" --class gnu-linux --class os {
    linux /live/vmlinuz boot=live components console=tty1 veriwipe.tui=1
    initrd /live/initrd.img
}

menuentry "Reboot System" {
    reboot
}

menuentry "Power Off" {
    halt
}
